.cart-container {
    top: 0;
    right: 0;
    width: 500px;
    background-color: white;
    min-height: 1000px;
    padding: 5px;
    padding-top: 20px;
    z-index: 10;
}

.cart-container table input {
    border: 1px solid gainsboro;
    width: 100px;
}

.cart-container table thead th {
    background-color: wheat;
}

.cart-container table th {
    width: 125px;
}

.cart-container table tbody tr{
    border-bottom: 1px solid gray;
}